<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="navbar-nav mr-auto">
      <li class="active" class="nav-item">
        <a class="nav-link" href="/">| Ana Sayfa |</a>
     
            <li class="nav-item">
        <a class="nav-link" href="/settings">| Result |</a>
      </li>
 
      <li class="nav-item">
        <a class="nav-link" href="/slots">| S覺f覺rlama Sistemi |</a>
      </li>
      <!--  <li class="nav-item">
        <a class="nav-link" href="/check">| S覺f覺rlama Sistemi |</a>
      </li> -->

    </ul>
  </nav>
