<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">| Ana Sayfa |</a>
      </li> <li class="nav-item">
        <a class="nav-link" href="/plugins">| Takımlar </a>
      </li>
          <li class="nav-item">
        <a class="nav-link" href="/settings"> Result |</a>
      </li>  
      <li class="nav-item">
        <a class="nav-link" href="/plugins">| Sistemler |</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://discord.com/users/767449979434172417">| Destek |</a>
      </li>

    </ul>
  </nav>
